@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de reservas</h1>
    <div class="text-center">
        <img src="./Resources/images.jpg" alt="Venimos por sillas para 2b" style="width: 400px; height: 500px;" />
        <div>
            <button type="button" class="btn btn-primary">Aboutme</button>
        </div>
    </div>
</div>
